:root {
  --bs-body-bg: #F8F9FA;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:link {
  text-decoration: none;
}

footer {
  padding-top: 30px; 
}

#fillPage {
  height: 100%;
  width: 100%;
  padding-bottom: 50px;
}

.card { 
  border-radius: 25px;
  box-shadow: #d2d2d2 2px 2px 20px 4px;
}

#hasAccount{
  text-align: center;
}
nav.navbar{
  box-shadow: #d2d2d2 2px 2px 20px 4px;
}
input {
  box-shadow: #d2d2d2 1px 1px 10px 2px;
}
button.btn-success {
  box-shadow: #d2d2d2 1px 1px 10px 2px;
}

.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.calendar {
  width: 350px;
  max-width: 100%;
  border: 1px solid #ccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.react-calendar__navigation__label {
  font-weight: bold;
}

.react-calendar__navigation__arrow {
  background: none;
  border: none;
  font-size: 20px;
  color: #999;
  cursor: pointer;
}

.react-calendar__navigation__arrow:hover {
  color: #333;
}

.react-calendar__tile--now {
  background-color: #ccc;
}

.react-calendar__tile--active {
  background-color: #007bff;
  color: #fff;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background-color: #0069d9;
}

.checkmark{
  height: 1rem;
  width: 1rem;
  margin-left: 0.5rem;
}

label.label-valid {
  color: red;
}

#footerLogo {
  height:10rem;
  width: 13rem;
}

#undoBlockContent { 
  padding-top: 120px;
}

.carousel{
  padding-top: 60px;
  box-shadow: #d2d2d2 1px 1px 10px 2px;
}

.invalid-feedback {
  display: block;
  font-size: 1rem;
  color: #ff0019;
}

#exampleImg {
  border-radius: 45px;
  width: 90%;
  height: 90%;
}

#homeRegisterCard {
  width: 50%;
}

#reasonGallery {
  width: 70%;
}

#garageContainer {
 width: 80%;
}

#carDataList {
  list-style-image: url("/public/carList.png");
 }
