:root {
  --bs-body-bg: #F8F9FA;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:link {
  text-decoration: none;
}

footer {
  padding-top: 30px; 
}

#fillPage {
  height: 100%;
  width: 100%;
  padding-bottom: 50px;
}

.card { 
  border-radius: 25px;
  box-shadow: #d2d2d2 2px 2px 20px 4px;
}

#hasAccount{
  text-align: center;
}
nav.navbar{
  box-shadow: #d2d2d2 2px 2px 20px 4px;
}
input {
  box-shadow: #d2d2d2 1px 1px 10px 2px;
}
button.btn-success {
  box-shadow: #d2d2d2 1px 1px 10px 2px;
}

.checkmark{
  height: 1rem;
  width: 1rem;
  margin-left: 0.5rem;
}

label.label-valid {
  color: red;
}

#footerLogo {
  height:10rem;
  width: 13rem;
}

#undoBlockContent { 
  padding-top: 120px;
}

.carousel{
  padding-top: 60px;
  box-shadow: #d2d2d2 1px 1px 10px 2px;
}

.invalid-feedback {
  display: block;
  font-size: 1rem;
  color: #ff0019;
}

#exampleImg {
  border-radius: 45px;
  width: 90%;
  height: 90%;
}

#homeRegisterCard {
  width: 50%;
}

#reasonGallery {
  width: 70%;
}

#garageContainer {
 width: 80%;
}

#carDataList {
  list-style-image: url("/public/carList.png");
 }

  li {
  font-size: 1.1rem;
  font-weight: 500;
 }