:root {
  --bs-body-bg: #F8F9FA;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 90px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:link {
  text-decoration: none;
}

footer {
  padding-top: 30px;  
}

#fillPage {
  height: 100%;
  width: 100%;
  padding-bottom: 50px;
}

.card { 
  border-radius: 25px;
}

#hasAccount{
  text-align: center;
}
nav.navbar{
  box-shadow: #d2d2d2 2px 2px 20px 4px;
}

